@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --primary: #2d88ff;
    --dark: #18191a;
    --semi-dark: #242526;
    --soft-dark: #3a3b3c;
    --danger: #f02849;
    --success: #44b960;
    --warning: #dda728;
    --text: #b7b9bd;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text);
}

body {
    background-color: var(--dark);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

i {
    cursor: pointer;
}

/*navbar start*/

.nav {
    background-color: var(--semi-dark);
    display: flex;
    /*position: fixed;*/
}

/*left navbar start*/

.left {
    display: flex;
    align-items: center;
    width: 25%;
}

.left-search {
    background-color: var(--soft-dark);
    padding: 10px;
    border-radius: 50px;
    height: 40px;
    margin-left: -10px;
}

.left-box {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
}

/*left navbar end*/

.search-input {
    border: none;
    background-color: var(--soft-dark);
    font-size: 16px;
    margin-left: 5px;
}

.search-input:focus {
    outline: none;
    background-color: var(--soft-dark);
}

/*center navbar start*/

.center {
    width: 50%;
    display: flex;
    justify-content: center;
}

.icon-box {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.icon-box:hover {
    background-color: var(--soft-dark);
    border-radius: 10px;
}

.underline {
    border-bottom: 3px solid var(--primary);
}

.active {
    color: var(--primary);
    border: var(--primary);
}

.active:hover {
    background-color: var(--semi-dark);
    border-radius: 0;
}

.icon:active {
    background-color: var(--primary);
    text-decoration: underline;
}

.icon {
    font-size: 23px;
}

.badge {
    margin-top: -15px;
    margin-left: -4px;
    background-color: var(--danger);
    padding: 0 10px;
    border-radius: 10px;
}

/*center navbar end*/

/*right navbar start*/

.right {
    width: 25%;
    display: flex;
    justify-content: end;
    margin-right: 15px;
}

.right-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-right: 20px;
}

.profile-photo {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-name {
    font-weight: bold;
}

.right-icon {
    padding: 8px 10px;
    margin-right: 10px;
    background-color: var(--soft-dark);
    border-radius: 50%;
}

.right-feather-icon {
    font-size: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border: 1px solid var(--danger);
    border-radius: 50%;
    background-color: var(--danger);
    margin-top: -20px;
    margin-left: -20px;
}

/*right navbar end*/

/*navbar end*/

/*fb-body start*/

.fb-body {
    display: flex;
}

.left-aside {
    width: 25%;
    padding: 20px;
    overflow-y: scroll;
}

.left-aside-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 15px;
}

.left-aside-button img {
    margin-right: 5px;
}

.left-aside-icon {
    width: 30px;
    height: 30px;
    background-color: var(--soft-dark);
    text-align: center;
    line-height: 30px !important;
    border-radius: 50%;
}

.left-aside-text {
    margin-left: 5px;
    font-weight: bolder;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--soft-dark);
    /*margin: 10px 0;*/
}

.shortcuts {
    padding: 15px;
}

.shortcuts-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.shortcuts-img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.shortcuts-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px !important;
    background-color: var(--soft-dark);
}

.shortcuts-text {
    /*font-size: 15px;*/
    font-weight: bolder;
    margin-left: 8px;
}

.privacy {
    font-size: 13px;
}

.news-feed {
    width: 50%;
}

.story-container {
    display: flex;
    margin-left: 30px;
}

.my-story-item {
    margin: 20px 5px 20px 20px;
    position: relative;
}

.my-story-card {
    width: 110px;
    height: 200px;
    border: 1px solid black;
    border-radius: 7px;
}

.my-story-img {
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: 130%;
    background-repeat: no-repeat;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--semi-dark);
    position: absolute;
    bottom: 38px;
}

.my-story-menu {
    background-color: var(--semi-dark);
    height: 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.my-story-icon {
    font-size: 30px;
    margin-top: -25px;
    color: var(--primary);
    z-index: 3;
}

.my-story-text {
    padding-top: 15px;
    font-weight: bolder;
}

.story-item {
    margin: 20px 10px;
    position: relative;
}

.story-card {
    width: 110px;
    height: 200px;
    border: 1px solid black;
    border-radius: 7px;
}

.story-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    position: relative;
}

.story-owner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px solid var(--primary);
}

.story-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bolder;
}

.next {
    width: 40px;
    height: 40px;
    background-color: var(--soft-dark);
    border-radius: 50%;
    text-align: center;
    line-height: 40px !important;
    position: absolute;
    right: -23px;
    top: 40%;
}

.add-post-container {
    padding: 20px;
    margin: 0 0 0 90px;
    background-color: var(--semi-dark);
    border-radius: 10px;
    width: 80%;
    border: none;
}

.add-post {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.add-post-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.add-post-input {
    width: 100%;
    background-color: var(--soft-dark);
    color: var(--light);
    font-size: 17px;
    font-weight: bolder;
    padding: 8px;
    border-radius: 20px;
    border: none;
}

.add-post-style {
    /*margin-top: 10px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto 0;
}

.add-post-item {
    display: flex;
    align-items: center;
}

.add-post-icon {
    margin-right: 5px;
    font-size: 23px;
}

.add-post-text {}


.chat-box {
    width: 25%;
}

/*fb-body end*/
